# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
.output
.tmp-earth-*

# Binary dependencies
.bin

# Build directory
.build

# Protobufs
*.pb.go

# Secrets file for Tilt
secrets.yaml

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Generated go files
*.gen.go

# Dependency directories (remove the comment below to include it)
# vendor/
