<html>
<head>
    <title>Tic Tac Toe</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/public/css/tailwind.css" rel="stylesheet">
</head>
<body>
    <div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
        <div class="relative py-3 sm:max-w-xl sm:mx-auto">
            <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
                <div class="max-w-md mx-auto">
                    <h1 class="font-bold text-5xl py-5">Tic Tac Toe</h1>
                    
                    <div class="grid grid-cols-2 my-5">
                        <a class="hover:underline justify-self-start text-blue-800 block" href="/">Home</a>

                        <div class="block justify-self-end">
                            {{if .Winner.Finished }}
                                {{if .Winner.IsDraw}}
                                    Draw!
                                {{else}}
                                    Winner: {{.Winner.Winner}}
                                {{end}}
                            {{else}}
                                Next Player: {{.NextPlayer}}
                            {{end}}
                        </div>
                    </div>

                    <div class="grid grid-cols-3 gap-2 my-5">
                        {{range $i, $r := .Grid}}
                                {{range $j, $s := $r}}
                                    <div class="block">
                                        <button class="block w-full rounded-md text-white font-extrabold text-center hover:bg-blue-600 bg-blue-500 p-7 hover:shadow-lg focus:outline-none" type="button" onclick="javascript: play('{{$.NextPlayer}}',{{$i}},{{$j}});">
                                            {{if not $s }}
                                                &nbsp;&nbsp;
                                            {{else}}
                                                {{$s}}
                                            {{end}}
                                        </button>
                                    </div>
                                {{end}}
                        {{else}}
                            <p>No grid</p>
                        {{end}}
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <script language="javascript">
		function play(p,x,y){
			{{if not .Winner.Finished }}
			location.href = "/{{.Game}}/play?player=" + p + "&pos={\"X\":" + x + ",\"Y\":" + y + "}";
			{{end}}
		}
	</script>
</body>
</html>